@import "styles/utils/vars";
@import "styles/utils/mixins";

.contact {

  &__icon {
    display: block;
    width: 30px;
    height: 30px;
  }
    
  &__info {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 8px;

    color: $color-secondary;

    @include phone {
      font-size: $font-size-small;
    }
  }
  
  &__link {
    height: 44px;
    @include button;
  }
}

